@model IEnumerable<ZooShop.Models.Products>

@{
    ViewData["Title"] = "Index";
    ViewData["Title"] = "Список продуктов";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a class="btn btn-success" asp-action= "Create">Создать продукт</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Product_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Product_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Product_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
