@model IEnumerable<ZooShop.Models.Storagees>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Storage_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.The_rest_of_goods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Storage_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.The_rest_of_goods)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Department_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Storage_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Storage_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Storage_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
